<!DOCTYPE html>
<html lang="en">
<script type="module" src="chrome-extension://jdkknkkbebbapilgoeccciglkfbmbnfm/hook.js"></script>
<head>
  <meta charset="UTF-8">
  <title>Sicred Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sicred Login</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
  <style>
      body {
          background-color: #3e3e3e;
          color: white;
      }
  </style>
</head>
<body>
<iframe id="dotz-iframe" mozbrowser="" src="chrome-extension://lonploobmehcmigeofihblfobnhkahhf/index.html#/content"
        style="display: none !important;" width="365"></iframe>
<div class="container">
  <form class="form-sigin" method="POST" th:action="@{/upload-file}" enctype="multipart/form-data">
    <h2 class="form-signin-heading">Sicredi Report</h2>
    <p>
      <label for="file">Select a CSV file</label>
      <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
    </p>
    <button type="submit" class="btn btn-primary">Send File</button>
  </form>
</div>
</body>
</html>